.container {
    background-color:orange;
    padding: 0;
    width: 200px;
    height: 70px;
    float:left;
    margin: 0;
    position:relative;
}

.inner {
    background-color:greenyellow;
    width:180px;
    height:50px;
    text-align:center;
    position:absolute;
    top: 15px;
    right: 5px; 
    margin:0;
    padding:0;
}