body {
    color:#F7F7F2;
    background-color:#2B303A;
    margin:0px;
    padding:0px;
    font-size:18px;
    line-height:150%;
}

header {
    margin:0px;
    font-size:14px;
    font-family:"Palatino", Georgia, Times, serif;
    top:50%;    
    color:#2B303A;
    background-color:#56e39f;
    padding:0px 30px 0px 0px;
    border-color:#56e39f;
    
}

#Header-Name {
    background-color:#F7F7F2;
    margin: 0px 0px 0px 200px;
    width: 250px;
    height: 60px;
    padding: 35px 0px 5px 0px;
    text-align:center;
}

.NavBarLinks {
    float:right;
    margin:0px 20px 0px 20px;
    padding:0 5px 0px 5px;
    width:200px;
    text-align:right;
    background-color:#F7F7F2;
}

h2 {
    background-color:#F7F7F2;
    padding: 30px 20px 30px 20px;
    width:160px;
    color:#2B303A;
    margin:20px 10px 20px 0px;
    border-top:10px solid #56e39f;
    border-left:10px solid #56e39f;
    border-right:1px solid black;
    border-bottom:1px solid black;
}


ul {
    font-weight:bold;
}

a {
    color:#2660AF;
}

.container {
    margin:0 200px 0 200px;
    width:1024px;
}

#Main-Bio,
#Bio-Image,
#Contact-Info {
    float:left;
}

#Main-Bio {
    width:70%;
}

#Contact-Info {
    width:30%;
}

#Bio-Image {
    margin-right:20px;
    margin-bottom:20px;
}

#Bio-Text {
    background-color:#b6b6df;
    color:#F7F7F2;
    margin: 10px 20px 30px 225px;
}


.clearfix::after {
    content:"";
    display:block;
    clear:both;
}

footer {
    clear:both;
    height:50px;
    background-color:#56e39f;
    margin:20px 0px 0px 0px;
    padding:40px 0px 0px 0px;
    text-align:right;
}