body {
    color:#444349;
    background-image:url(/assets/images/stardust.png);
    margin:0px;
    padding:0px;
    font-size:18px;
    line-height:150%;
}

header {
    margin:0px;
    font-size:14px;
    font-family: 'Playfair Display', serif;  
    color:#444349;
    background-color:#abc4ab;
    padding:0px;
    height:100px;
    border-bottom:3px solid #dcd6f7;
}

#Head-Cont {
    width:920px;
    margin:0px 0px 0px 175px;
    padding:0px;
    height:100px;
}

#Header-Name {
    margin: 0px 0px 0px 0px;
    width: 250px;
    height: 65px;
    padding: 35px 0px 0px 0px;
    text-align:center;
    background-color:#F7F7F2;
    float:left;
    font-size:24px;
    font-weight:bolder;
}

nav {
    float:right;
}

.NavBarLinks {
    float:left;
    margin:35px 0px 0px 20px;
    padding:0px;
    text-align:right;
    font-size:18px;
    font-weight:bold;
}

.NavRight {
    margin-right:0px;
    padding-right:0px;
}

h2 {
    background-color:#F7F7F2;
    padding: 30px 20px 30px 20px;
    color:#444349;
    margin:40px 10px 20px 30px;
    border-top:1px solid black;
    border-left:1px solid black;
    border-right:1px solid black;
    border-bottom:1px solid black;
}


ul {
    font-weight:bold;
}

a {
    color:#444349;
    text-decoration:none;
}

#Main-Bio,
#Bio-Image,
#Contact-Info {
    float:left;
}

#Main-Bio {
    width:920px;
    margin:25px 0px 40px 175px;
    padding:0px;
    background-color:#F7F7F2;
    color:#444349;
}

#Contact-Info {
    width:30%;
}

#Bio-Image {
    margin-right:20px;
    margin-bottom:60px;
    float:right;
}

#Bio-Text {
    
}

p {
    margin:25px 50px 25px 25px;
}

.clearfix::after {
    content:"";
    display:block;
    clear:both;
}

footer {
    clear:both;
    height:50px;
    background-color:#dcd6f7;
    margin:10px 0px 0px 0px;
    padding:40px 0px 0px 0px;
    text-align:center;
    border-top:5px solid #abc4ab;
    font-style:italic;
    font-size:14px;
    font-family: 'Playfair Display', serif;
}

